<%= form_for @chart do |c| %>
	<% if @chart.errors.any? %>
		<div id="error_explanation">
			<h2>
				<%= pluralize(@chart.errors.count, "error") %> prohibited this chart from being saved:
			</h2>
			<ul>
				<% @chart.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<p>
		<%= c.label :name %><br>
		<%= c.text_field :name %>
	</p>

	<p>
		<%= c.label :json %><br>
	</p>

	<span style='display:none;'>
		<%= c.text_area :json %>
	</span>

	<div id='editor' style='width:500px;height:500px;'></div>

	<p id="save">
		<%= c.submit %>
	</p>
<% end %>


<script>
	var editor = ace.edit('editor');
	var textarea = $('#chart_json');
	editor.getSession().setValue(textarea.val())
	editor.getSession().setMode('ace/mode/json');
	$("form").submit(function (event) {
		textarea.val(editor.getSession().getValue());
	});
</script>