<h1>All Charts</h1>

<%= link_to new_chart_path, id: "new-chart" do %>
	<i class="fa fa-fw fa-plus"></i> New Chart
<% end %>

<ul class="charts">
	<% @sorted_charts.each do |chart| %>
		<li>
			<span class="name">
				<%= chart.name %>
			</span>
			<span class="actions">
				<%= link_to chart_path(chart) do %>
					<i class="fa fa-fw fa-eye"></i>
				<% end %>
				<%= link_to edit_chart_path(chart) do %>
					<i class="fa fa-fw fa-pencil"></i>
				<% end %>
				<%= link_to chart_path(chart), method: :delete, data: { confirm: 'Are you sure?' }  do %>
					<i class="fa fa-fa fa-trash-o"></i>
				<% end %>
			</span>
			<span class="actions">
				<span class="created_at"><%= chart.created_at %></span>
			</span>
		</li>
	<% end %>
</ul>

<script>
	$(function(){
		$(".created_at").each(function(){
			var $this = $(this);
			var from_now = moment($this.text()).fromNow();
			$this.text("Created " + from_now).css("visibility", "visible");
		});
	});
</script>